img {
  padding: 2%;
  width: 60%;
  border: 5px solid black;
}

body {
  text-align: center;
}

ul {
  text-align: center;
}

ol {
  margin: 220px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.jumbotron {
  background-color: transparent !important;
}

.hudson {
  float: right;
  width: 180px;
}

.aboutmeformatting {
  margin: 20%;
}


p {
  padding-left: 20%;
  padding-right: 20%;
}

.orderedlist {
  align-items: center;
  text-align: left;
}

.well img {
  width: 250px;
}

.boxmodel {
  border: 1px solid gray;
  margin: 300px;
}

.container h2 {
  margin-top: 200px;
}

h4 {
  margin: 30px;
}

.portfolio-top {
  margin-top: 0px;
  margin-bottom: 200px;
}
