img {
  padding: 2%;
  width: 60%;
}

body {
  text-align: center;
}

ul {
  text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.jumbotron {
  background-color: transparent !important;
}
