body {
  text-align: center;
  color: lightgray;
}

.well {
  background-color: transparent !important;
  color: lightgray;
}


.jumbotron {
  float: right;
  margin: 0;
  text-align: center;
  background-color: transparent !important;
}

.jumbotron p {
  padding-top: 0%;
}

ul {
  text-align: left;
}

img {
  float: left;
  width: 55%;
}

#contact {
  font-size: 13pt;
}
